{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
  <title>{{ object|yesno:"Update,Create" }} vaccine</title>
{% endblock %}

{% block content %}

  <h1>{{ object|yesno:"Update,Create new" }} vaccine</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-secondary">
    <a href="{% url 'shelter:vaccine-list' %}" class="btn btn-secondary">Cancel</a>
  </form>

{% endblock %}
