{% extends "base.html" %}

{% block title %}
  <title>Vaccines</title>
{% endblock %}

{% block content %}
  <h2>Vaccines list</h2>
    <a href="{% url 'shelter:vaccine-create' %}" class="adding-link btn btn-dark">add new vaccine</a>
  {% if vaccine_list %}
  
  <div class="table-container">
    <p>In our shelter we vaccinate our dogs with next vaccines:</p>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Vaccine Name</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for vaccine in vaccine_list %}
          <tr>
            <td>{{ vaccine.name }}</td>
            <td><a href="{% url 'shelter:vaccine-update' pk=vaccine.id %}">Update</a></td>
            <td><a href="{% url 'shelter:vaccine-delete' pk=vaccine.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>We didn't vaccinate dogs yet</p>
  {% endif %}

{% endblock %}
