{% extends "base.html" %}

{% block title %}
  <title>Vaccines</title>
{% endblock %}

{% block content %}
  <h1>Vaccines list</h1>
  {% if vaccine_list %}
  <p>In our shelter we vaccinate our dogs with next vaccines:</p>
  <ul>
    {% for vaccine in vaccine_list %}
    <li>{{ vaccine.name }}
      <a href="{% url 'shelter:vaccine-update' pk=vaccine.id %}">Update</a>
      <a href="{% url 'shelter:vaccine-delete' pk=vaccine.id %}">Delete</a>
    </li>
    
    {% endfor %}
  </ul>
  {% else %}
    <p>We didn't vaccinated dogs yet</p>
  {% endif %}

{% endblock %}